<!DOCTYPE html>
{% load hq_shared_tags %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'formtranslate/css/blueprint/screen.css' %}" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{% static 'formtranslate/css/blueprint/print.css' %}" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="{% static 'formtranslate/css/blueprint/ie.css' %}" type="text/css" media="screen, projection"><![endif]-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script type="text/javascript">
    $(function() {
        // styling

        function textToProperHtml(text) {
            var $ele = $('<span>');
            var lines = text.split('\n');
            for (var i = 0; i < lines.length; i++) {
                $ele.append($('<div>').text(lines[i]))
            }
            return $ele.html();
        }

        // api
        var version = '{{ version }}';
        $('#version').val(version);
        var do_api = function(url, textonly) {
            var notice = $('#notify').addClass("notice").text("Working...");
            var xform = $("#xform").val();
            var version = $('#version').val();
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: url + '?version=' + version,
                data: {xform: xform},
                success: function (data) {
                    notice.removeClass("hidden success error notice");
                    if (data.success) {
                        notice.addClass("success");
                        if (textonly) {
                            notice.text("Success!   " + data.outstring);
                        } else {
                            notice.html("Success!<br><br>" + textToProperHtml(data.outstring));
                        }
                    } else {
                        notice.addClass("error");
                        notice.html("Error!<br><br>" + textToProperHtml(data.errstring));
                    }

                },
                error: function (data) {
                    notice.removeClass("hidden success error notice");
                    notice.addClass('error');
                    notice.text('We were unable to process this form because of an unexpected server error')
                }

            });
        };

        $('#validate').click(function (e) {
            e.preventDefault();
            do_api("{% url 'formtranslate_validate' %}");
        });
        $('#readable').click(function (e) {
            e.preventDefault();
            do_api("{% url 'formtranslate_readable' %}");
        });
        $('#csv').click(function (e) {
            e.preventDefault();
            do_api("{% url 'formtranslate_csv' %}");
        });
        $('#xsd').click(function (e) {
            e.preventDefault();
            do_api("{% url 'formtranslate_xsd' %}", true);
        });
    });            
    </script>
    <style>
        a { padding-right:2em; }
        .error, .success {padding:.8em;margin-top:1em;margin-bottom:1em;border:2px solid #ddd;}
    </style>
</head>
<body>
<div class="container">
    <h1>Form Translate Home</h1>
    <p>Paste the body of an xform below and then try one of the following options</p>
    <div>
        <label for="version">Version</label>
        <select id="version">
            <option value="1.0">CommCare 1.x</option>
            <option value="2.0">CommCare 2.x</option>
        </select>
    </div>
    <a id="validate" href="#">Validate</a>
    <a id="readable" href="#">Get readable form</a>
    <a id="csv" href="#">Get csv translations</a>
    <a id="xsd" href="#">Get xsd schema</a>
    <div id="notify"></div>
    <textarea id="xform" name="xform" rows="30" cols="100" style="background-color:#FDFEDE; width:100%; height:500px;" wrap="off">{{ xform|safe }}</textarea>
</div>    
</body>
</html>
